################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# dependencies
/backend/node_modules
/frontend/node_modules
*.log
package-lock.json
