################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# dependencies
*/node_modules
*/yarn.lock
*.log
package-lock.json
*/coverage